*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font: 62.5% / 1.15 sans-serif;
}

h1, h2 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button::-moz-focus-inner {
  border: 0;
}

button, input, textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

body {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  font: 1.6rem/1.25 Arial, sans-serif;
  background-color: lightgoldenrodyellow;
  color: #4d4d4d;
}

.nav {
  display: flex;
  height: 80px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.nav button {
  background-color: inherit;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.centered {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.invis {
  display: none;
  cursor: none;
}

.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
}

.btn__danger {
  color: #fff;
  background-color: #ca3c3c;
  border-color: #bd2130;
}

.btn__primary {
  color: #fff;
  background-color: #000;
}

.btn-group {
  display: flex;
}

.btn-group>* {
  flex: 1 1 49%;
}

.btn-group>*+* {
  margin-left: 0.8rem;
}

.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: center;
}

.stack-small>*+* {
  margin-top: 1.25rem;
}

.stack-large>*+* {
  margin-top: 2.5rem;
}

.todoapp {
  background: whitesmoke;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.todoapp>* {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.todo-label {
  font-size: 25px;
}

.todoapp>form {
  max-width: 100%;
}

.todoapp>h1 {
  display: block;
  max-width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}

.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.input__lg {
  padding: 1.6rem;
  border: 2px solid #000;
}

.input__lg:focus {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}

[class*="__lg"] {
  display: inline-block;
  width: 100%;
}

[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}

.todo-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 470px) {
  .centered h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 550px) {
  .todoapp {
    padding: 4rem;
  }
  .stack-large>*+* {
    margin-top: 2.8rem;
  }
}

@media screen and (min-width: 900px) {
  .todoapp:nth-child(2) {
    width: 450px;
  }
  .row {
    flex-direction: row;
  }
}